
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMOR♥</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>♥Eu te amo Vitória♥</h1>
        <h2>(sim, eu que programei esse site do 0)</h2>
    </header>
    <main>
      <p> Passei horas fazendo isso pra você ver o quanto é importantissima para mim (já falei que fiz programação, né)</p><br>

        <p>
            INDEPENDENTE de tudo, eu tô aqui pra você. Não sei pelo que você está passando,
            quais são seus conflitos internos, quais são suas dores ou fraquezas mas eu quero te ajudar e passar por isso com você
            porque eu não consigo ficar sem ti.
        </p>
        <p>
            Eu achei que seria mais fácil ficar sem você mas eu juro por tudo, que não ta sendo NADA fácil, ficar longe e não ter você comigo é a pior sensação que eu já tive em toda a minha vida. Você me prometeu passar por qualquer
            coisa e qualquer dificuldade juntos, crescermos juntos enquanto casal, uma vida juntos, uma familia. Eu tô aqui para isso, não tenho certeza de quase nada na minha vida, a única certeza é que quero você comigo. Não deixa isso pra depois, vamos juntos passar por essa sua dificuldade, aprender um com o outro estando juntos. EU TE AMO TANTO MINHA PRETA.

        </p>
        <p>
            Você tira seu tempo quando precisar, só peço pra ficar comigo, pq eu também preciso de você. E preciso muito mais de você, do que você de mim, nos damos bem para caralho, é visível o quanto fazemos bem um pro outro quando estamos próximo um do outro. Não quero ficar insistindo nisso, mas volta pro pai minha nega.
        </p>
      <p> Não sei o que é estar preparada ou não para uma relação, mas você ta sim, impossivel alguém que me fez um bem enorme, não estar. Você é tudo o que eu pedi, sem tirar e nem pôr, você é muito mais do que perfeita e eu te admiro não só como mulher, mas como pessoa, a pessoa incrível que você é.</p>
      <p>E eu não quero, de jeito nenhum, arriscar isso.
      </p>
      <p2>EU PRECISO DE VOCÊ PARA CARALHO</p2>
      <p> Você é o amor da minha vida</p>
        <h2>As fotos que eu mais gosto nossas</h2>

<img src="{{ url_for('static', filename='images/foto1.jpg') }}" alt="Foto 1" class="foto">
         <img src="{{ url_for('static', filename='images/foto2.jpg') }}" alt="Foto 2" class="foto">
        <img src="{{ url_for('static', filename='images/foto3.jpg') }}" alt="Foto 3" class="foto">
        <img src="{{ url_for('static', filename='images/foto4.jpg') }}" alt="Foto 3" class="foto">

        <p>E tem muitas outras, mas não teria espaço e eu já tava derretendo de chorar só de ver procurar essas</p>
        <h2>Esse video me mata sempre, você é tão LINDA</h2>

        <video width="350" controls>
            <source src="{{ url_for('static', filename='videos/video1.mp4') }}" type="video/mp4"></video>

            <audio class="audio-player" controls autoplay>
                <source src="{{ url_for('static', filename='musica/musica.mp3') }}" type="audio/mp3"></audio>
    </main>
    <footer>
        <p>&copy;15/08/2024<footer2> ♥ </footer2></p>
    </footer>
<a href="https://youtu.be/UecSMtZy0Ho?si=CclUOUlqK7G52tVX" target="_blank">
            <button class="btn-link">CLIQUE</button>
</body>
</html>